.fnav {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.fnav input {
  width: 300px;
  height: 27px;
  border: 2px solid gray;
  border-radius: 3px;
  text-align: center;
  margin-top: 16px;
}
.fnav p {
  margin-top: 17px;
  font-size: 17px;
}
.snav {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: 11px;
  background-color: rgb(218, 213, 213);
  font-weight: 800;
}
.snav p:hover {
  border-bottom: 2px solid rgb(13, 13, 46);
  color: rgb(13, 13, 46);
  cursor: pointer;
}
.snav img {
  width: 7%;
}
.lens {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  background-color: rgb(242, 236, 236);
  padding: 11px;
}
.lens img {
  width: 11%;
  border: 2px solid white;
  border-radius: 5px;
}
.main img {
  width: 100%;
}
.cart {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 11px;
}
.cart .card {
  text-align: center;
}
.card button {
  width: 100px;
  height: 33px;
  color: white;
  background-color: rgb(52, 180, 180);
  border: none;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 600;
}
.card p {
  font-size: 16px;
}
.cart .card img {
  width: 70%;
}
.banner h2 {
  text-align: center;
  padding: 22px;
}
.banner .img img {
  width: 100%;
}
.banner .collage {
  margin-left: 150px;
}
.banner .collage .img1 {
  width: 503px;
  height: 568px;
  float: left;
  padding-right: 10px;
}
.banner .collage .img2,
.img3 {
  width: 501px;
  height: 277px;
  padding-bottom: 10px;
}
.banner .collage .img4 {
  width: 503px;
  height: 277px;
  padding-right: 7px;
}
.banner .collage .img5 {
  width: 500px;
  height: 277px;
}
.poster h2 {
  text-align: center;
  padding: 22px;
}
.poster img {
  width: 77%;
  margin-left: 150px;
}
.twopic h2 {
  text-align: center;
  padding: 22px;
}
.twopic .img {
  margin-left: 150px;
  align-items: center;
}
.twopic .img1 {
  width: 43%;
  padding-right: 10px;
}
.twopic .img2 {
  width: 43%;
}
.collage1 h2 {
  text-align: center;
  padding: 22px;
}
.collage1 .img {
  padding-left: 50px;
}
.collage1 .img .img1 {
  width: 47%;
  height: 240px;
  padding-right: 10px;
  float: left;
}
.collage1 .img .img2 {
  width: 47%;
  height: 240px;
  float: left;
}
.collage1 .img .img3 {
  width: 47%;
  height: 310px;
  padding-right: 10px;
  float: left;
  padding-top: 10px;
}
.collage1 .img .img4 {
  width: 47%;
  height: 310px;
  padding-top: 10px;
}
.poster1 img {
  width: 1340px;
}
.poster1 h2 {
  text-align: center;
  padding: 22px;
}
.goggle {
  margin-left: 150px;
}
.goggle p {
  padding-top: 22px;
}
.sec-main img {
  width: 1340px;
}
.goggle img {
  width: 25%;
  padding: 20px;
}
.pic {
  padding-top: 55px;
}
.footer {
  background-color: rgb(9, 2, 68);
  color: white;
}
.footer .list ul {
  list-style-type: none;
}
.footer .list ul li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.footer .list ul li p {
  font-weight: 500;
  padding-bottom: 20px;
}
.footer .list ul li img {
  float: right;
  padding-right: 30px;
}
